#map {
    height: 400px;
    width: 100%;
}

#weather-info {
    text-transform: capitalize;
}

#rating-slider {
    width: 100%;
}

#empty-div{
    display: inline-block;
    width: 1.5%;
}

.fa-star, .fa-star-half-alt {
    color: #ffc107;
}
