<%- include("partials/landing_header") %>

	<div id="landing-header">
		<h1>Welcome to CampSite™!</h1>
		<a href="/campgrounds" class="mt-5 btn btn-lg btn-info">Get Started</a>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>


<%- include("partials/footer") %>
