<h1>Login</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
</form>

<li> <a href="/register">Register</a> </li>
<li> <a href="/logout">Logout</a> </li>
