<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>An express app!</title>
        <link rel="stylesheet" href="/styles.css">
        <%# No need to use public/styles.css because express is weird %>
        <%# All .css files go in the public directory and it need not be specified in href %>
        <%# THE / IS IMPORTANT. BECAUSE IT NEEDS TO LOOK FROM ROOT DIRECTORY, NOT CURRENT DIRECTORY %>
    </head>
    <body>
