<%- include("../partials/header") %>

<div class="container">
    <h1 class="display-4 m-5 text-center">Add A New Campground</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form action="/campgrounds" method="post">
                    <div class="form-group">
                        <input type="text" name="camp[name]" class="form-control" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="camp[image]" class="form-control" placeholder="Enter Image URL" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="camp[description]" class="form-control" placeholder="Enter Description" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="camp[price]" step=".01" class="form-control" placeholder="Enter Price Per Night In Dollars" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="camp[location]" class="form-control" placeholder="Enter Location" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <a class="btn btn-secondary btn-block mt-3" href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
