#container {
    max-width: 30%;
    margin: 2.5% auto;
}

#stripe {
    background-color: white;
    text-align: center;
    height: 30px;
    margin-top: 0;
}

#picked_color_display {
    font-size: 200%;
}

#msg_box {
    display: inline-block;
    width: 20%;
}

.square {
    padding-bottom: 30%;
    width: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: all 0.5s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
}

.selected {
    background-color: steelblue;
    color: white;
}

body {
    background-color: #232323;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px 0;
    margin: 0;
    transition: all 0.3s;
}

button {
    font-family: 'Quicksand', sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    background-color: steelblue;
    color: white;
}
